<h1>Listing poems</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="poems">
    <%= render @poems %>
  </tbody>
    <div id="paginator_poem">
      <%= paginate @poems, :param_name => :page_poems, :remote => true %>
    </div>
</table>
